#stories{
    display: none;

}
#div2{
    display: none ;
}

#header{
    left: 0px;
}
#hidechate{display: none ;}

#search{
    width: 30vw;
}
#mes
{
    width:75%;
    margin-left: 3%
}


