body{
    background-color: gainsboro
}
#img
{
    width: 4%;
    border-radius: 50%;
    margin-left: 10%;
  
}
#span{font-size: 1.25em}
#img2{
    width: 18%;
    border-radius: 50%;

}
a{
    color: black;
    text-decoration: none;
}
.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding:1%;
}
a:hover{
    color:black;
    text-decoration-line: none;
}
#img3{
    width: 9%;
    border-radius: 50%;
  

}
#img4{
    width: 7%;
    border-radius: 50%;
  

}

#in1
{
    border:0;
   width: 90%;
   height: 70px;
 
}
#in1:focus
{
    outline:0;
}
#span{
padding-top: 0px;
}
#ul li{
    display: inline-block;
   
}
#ul{
    list-style-type: none;
}
.s
{
    color:blue;
}
#nav
{
    position: fixed;
    top:0;
    background:rgb(68, 97, 186);
    z-index: 1;
}
#div2{ height:600px;
    position:fixed;top:0; 
    left:8%;margin-top:56px
}
#header
 {  margin-top:1%;
    
    left:18%;

}
#img5{
    width: 25%;
    border-radius: 50%;
}

#mes
{
    background:white;
    width:33%;
    height:69%;
    position: fixed;
    top:56px;
    right:25%;
    z-index: 1;
    display: none;
    

}

#message
{
    font-size:30px; 
    margin-left: 15px
}
#stories{
   
     height:600px; 
     margin-left:17%;
     margin-top:25px

}

#img6
{
    width:20%;
    border-radius: 50%;
    border:2px solid blue;
    
}

#frendis
{
    background:white;
    width:30%;
    height:69%;
    position: fixed;
    top:56px;
    right:30%;
    z-index: 1;
    display: none;
}
#freind
{
    font-size:30px;
    margin-top:5%
}